body {
  height: 100vh;
  background-color: #282c34;
}

.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.app {
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
  background-color: #000000;
}

.app input,
.app button {
  margin: 10px;
  padding: 10px;
}

.app button {
  cursor: pointer;
  background-color: #ffffff;
  border: none;
}

/* .app div {
  display: flex;
  flex-wrap: wrap;
} */

.app form {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin-top: 100px;
  margin: 0 auto;
}

.app form label {
  margin-bottom: 10px;
}




/* ーーーーーーーーーー */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #000;
  color: #fff;
  font-family: 'Courier New', monospace;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 50px, 1fr;
  grid-gap: 4px;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #222;
  border: 2px solid #444;
  border-radius: 4px;
}

.grid-row {
  display: flex;
  justify-content: center;
}

.grid-cell {
  margin: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  background-color: #333;
}

.coin {
  color: #ffd700;
}

.agent {
  color: #00ff00;
}

